.datePickerIcon .react-datepicker__input-container {
  display: flex;
  align-items: center;
  max-width: 100% !important;
}
.datePickerPosition {
  margin: 10;
  display: "flex";
  justify-content: "center";
}

.field {
  padding: 0.375rem 0.625rem 0.375rem 1.5625rem !important;
  height: 2.375rem !important;
  box-shadow: none !important;
  border: 0.0625rem solid lightgray !important;
  border-radius: 0.3125rem !important;
}
.errorField {
  border: 1px solid red !important;
  background-color: #fde5e3 !important;
  border-radius: 0.3125rem !important;
}
.label {
  margin-bottom: 0.25rem;
}
