.container {
  padding: 1.25rem;
  height: 100%;
  & > header {
    padding: 0;
    padding-bottom: 1rem;
  }
  .breadcrumbSeparator {
    margin: 0px 5px;
    font-weight: 600;
    font-size: 14px;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding-bottom: 1.5rem;
    .headerText {
      color: #39393b;
      font-weight: 700 !important;
      font-size: 22.142px;
    }
  }
}

.customSubHeaderCon {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-right: 20px;
  gap: 15px;
}

.textAndSelectCon {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  flex: auto;
}
.headerIconCon {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.cursorPointer {
  cursor: pointer;
}

.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
}
.headerAndButtonCon {
  display: flex;
  justify-content: space-between;
  // padding-top: 20px;
  position: sticky;
  z-index: 2;
  background: #fff;
  padding-bottom: 1.5rem;
}

.textFieldStyles3 {
  height: 38px;
  box-shadow: none !important;
  border-radius: 5px;
  min-width: 150px !important;
  max-width: 220px !important;
}
.textFieldStyles {
  height: 38px;
  box-shadow: none !important;
  border-radius: 5px;
  min-width: 120px !important;
  max-width: 200px !important;
}
.DatePickerCustomStyles {
  height: 38px;
  box-shadow: none !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  max-width: 130px !important;
}
.resetButton {
  background-color: #f0f0f0; /* Example background color */
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing if needed */

  &:hover {
    background-color: #e0e0e0; /* Change on hover */
  }
}

.iconSpacing {
  margin-right: 5px; /* Adjust spacing as needed */
  vertical-align: middle; /* Aligns the icon with the text */
}
