.dataContainer {
  // width: 100%;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  font-size: 15px;
}
.noDataStyle {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
}

.errorText {
  color: red;
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;

  .icon {
    margin-right: 0.3rem; /* Add some spacing between the icon and text */
    font-size: 16px;
  }
}

.endTextStyle {
  color: black;
  right: 0;
  z-index: 999;
  margin-right: 10px;
}

.formStyles {
  width: 100%;
}
.imgStyle {
  width: 60px !important;
  height: 60px !important;
}

.statusName {
  color: #1c2475;
  font-weight: 650;
}
.statusNamePre {
  color: #1c2475;
  font-weight: 650;
  margin-top: 20px;
}
.paid {
  margin-left: 5px;
  color: #1c2475;
}

.exampleTem {
  font-size: 14px;
  margin-top: 0.8rem;
}
.btnStyles {
  // max-width: 35%;
  margin-top: 20px;
}
.noticeBox {
  padding: 20px;
  border: 2px solid #1c2475;
}
.effect {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.headSection {
  font-weight: 700;
  text-align: center;
}
.inputField {
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #e9ecef;
  color: black;
}
.inputField2 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  height: 40px;
  box-shadow: none !important;
}
.inputFieldControl {
  min-height: 100px !important;
  box-shadow: none !important;
}

.descriptionField {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}

.eachFielDetailsView {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fileText {
  color: #1c2475;
  font-weight: bold;
  cursor: pointer;
}
.removeTxt {
  font-weight: 600;
  color: red;
  cursor: pointer;
  text-align: end;
}
.marginLeft10 {
  margin-left: 10px;
}
.removeTxtPre {
  font-weight: 600;
  color: red;
  cursor: pointer;
  text-align: end;
  margin-top: 20px;
}
.sendStyle {
  font-weight: 700;
}
.supportTxt {
  width: 83%;
  margin-top: 1.5rem;
}
.claimAmountStyles {
  font-weight: 600;
  font-size: 18pt;
  max-width: fit-content;
  display: contents;
}

.notice {
  font-weight: 500;
}
.optionPart {
  color: #40e8ff;
  font-weight: 600;
  margin-top: 13px;
}

.attachText {
  font-weight: 650;
  margin-top: 3rem;
}

.reqText {
  margin-top: 13px;
  font-weight: 650;
  color: red;
}

.radioSwitch {
  margin-top: 0.6rem;
}

.cancelStyle {
  background-color: transparent !important;
  // font-weight: 500 !important;
  color: #1c2475 !important;
  border: 1px solid #1c2475 !important;
  width: auto !important;
  &:hover {
    background-color: transparent !important;
    color: #1c2475 !important;
    border: 1px solid #1c2475 !important;
  }
}

.draftStyles {
  background-color: transparent !important;
  color: #1c2475 !important;
  border: #1c2475;
  &:hover {
    background-color: transparent !important;
    color: #1c2475 !important;
    border: 1px solid #1c2475 !important;
  }
}
.sendStyles {
  background-color: #1c2475 !important;
  color: white !important;
  &:hover {
    background-color: #1c2475 !important;
    color: white !important;
    border: none !important;
  }
}
.fileContainer {
  display: inline-block;
}
.viewCursor {
  cursor: pointer;
}
.checkBoxHeights {
  display: flex;
  font-size: 16px !important;
  align-items: center;
  & > input {
    height: 16px;
    width: 16px;
    border-color: #39393b;
  }
}
.saveBtnsContianer {
  display: flex;
  gap: 5px;
}
.historyCon {
  max-height: 50px;
  overflow: auto;
}
//for modal popup

.cancelButton {
  background-color: white !important;
  color: #1c2475 !important;
  border: 1px solid #1c2475;

  &:hover {
    background-color: white !important;
    color: #1c2475 !important;
    border: 1px solid #1c2475;
  }
}
.modalpopupBtn {
  min-width: 90px !important;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

//

@media screen and (min-width: 319px) and (max-width: 425px) {
  .claim {
    width: 100%;
  }
  .switch1 {
    margin-top: 0em !important;
  }
  .radioSwitch {
    margin-top: 1.4rem;
  }
  .cancelStyle {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .removeTxtPre {
    font-weight: 600;
    color: red;
    cursor: pointer;
    text-align: start;
    margin-top: 20px;
  }
  .supportTxt {
    width: 100%;
    margin-top: 1.5rem;
  }
}
