.dataContainer {
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.firstPart {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.typeStyle {
  width: 50%;
  margin-top: 1.5rem;
}
.imgStyle {
  width: 60px !important;
  height: 60px !important;
}
.statusName {
  color: #1c2475;
  font-weight: 650;
}
.paid {
  color: #1c2475;
}
.partEnd {
  display: flex;
  justify-content: flex-end;
}
.amountName {
  font-size: 14px;
  font-weight: 500;
  margin-right: 78px;
}
.statusNameId {
  color: #1c2475;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}
.incgst {
  // font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}
.gstText {
  // font-size: 13px;
  font-weight: 600;
  margin-right: 78px;
}
.dateClaim {
  color: #1c2475;
  font-weight: 500;
  margin-right: 70px;
}
.text {
  min-height: 38px;
}
.confirmation {
  display: flex;
  margin-top: 0.3rem;
  align-items: center;
}
.boxStyles {
  width: 15px;
  height: 15px;
  background-color: #74757a;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.total {
  display: grid;
  justify-content: flex-end;
}
.totalAmt {
  color: #1c2475;
  font-size: 14px;
  font-weight: 500;
  margin-right: 78px;
}
.totalValue {
  color: #1c2475;
}
.inputFieldControl2 {
  min-height: 100px !important;
}
.attachText {
  font-weight: 650;
  margin-top: 3rem;
}
.fileSelectorContainer {
  display: inline-flex;
  margin-top: 10px;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  border-radius: 8px;
}
.sizeStyles {
  font-weight: 400;
  font-size: 13px;
}
.fileText {
  color: #1c2475;
  font-weight: 600;
  cursor: pointer;
}
.removeTxt {
  font-weight: 600;
  color: red;
  display: flex !important;
  justify-content: flex-end !important;
  background: transparent !important;
  cursor: pointer;
}
.attachmentButton {
  background: transparent !important;
  color: #1c2475 !important;
  border: none !important;
  display: flex !important;
  justify-content: flex-end !important;
  font-weight: 550;
  &:hover {
    background: transparent !important;
    color: #1c2475 !important;
  }
}
.notice {
  font-weight: 500;
  margin-bottom: 20px;
}
.disclaimerPolicy {
  font-size: 13px;
  margin-bottom: 35px;
  margin-top: 30px;
  font-weight: 500;
}
.button {
  margin-top: 1rem;
  width: 5rem !important;
  font-size: 16px !important;
}

.deleteButton {
  background-color: #dc143c !important;
  color: white !important;
  border: 1px solid #dc143c;

  &:hover {
    background-color: #dc143c !important;
    color: white !important;
    border: 1px solid #dc143c;
  }
}
.editButton {
  background-color: #1c2475 !important;
  color: white !important;
  border: 1px solid #40e8ff;

  &:hover {
    background-color: #1c2475 !important;
    color: white !important;
    border: 1px solid #40e8ff;
  }
}

.reqText {
  margin-top: 13px;
  font-weight: 650;
  color: red;
}
.optionPart {
  color: #40e8ff;
  font-weight: 600;
  margin-top: 13px;
}

.errorText {
  color: red;
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;
  min-height: 1rem;
  .icon {
    margin-right: 0.5rem; /* Add some spacing between the icon and text */
  }
}
.errorContainer {
  display: flex !important;
  margin-top: 0.5rem !important;

  min-height: 1rem;
  .errorTextStyles {
    color: red !important;
    font-size: 12px !important;
    margin-left: 4px !important;
  }
  .error {
    color: red !important;
  }
}
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}

.inputError {
  border: 1px solid red; /* Red border for input */
  background-color: #ffe6e6; /* Light red background color */
}
.paymentTypeStyles {
  width: 65%;
  margin-top: 1.5rem;
}
.cashStyles {
  width: 32% !important;
}
.paymentButtonsAlign {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.gridAction {
  color: #1e2575;
  cursor: pointer;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;

  display: block;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .partEnd {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  .typeStyle {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .paymentTypeStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .cashStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 430px) and (max-width: 932px) {
  .partEnd {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  .typeStyle {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .paymentTypeStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .cashStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 393px) and (max-width: 852px) {
  .partEnd {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 30px;
  }
  .typeStyle {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .paymentTypeStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
  .cashStyles {
    width: 100% !important;
    margin-top: 1.5rem;
  }
}
