.selectContainer {
  height: 140px !important;
  width: 140px !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 2px dashed #6fd0e0 !important;
  border-radius: 10px !important;
}

.selectContainerBtn {
  height: 100px !important;
  width: 100px !important;
}

.imageViewStyle {
  display: flex;
  border: 2px dashed #6fd0e0 !important;
  border-radius: 10px !important;
  height: 8.75rem !important;
  width: 8.75rem !important;
}
.disabledImage {
  border: 2px dashed grey !important;
  color: grey !important;
  cursor: default !important;
}
.fileRemoveIcon {
  cursor: pointer !important;
  z-index: 100 !important;
}
.button {
  border: none !important;
  border-radius: 0.3125rem !important;
  background-color: #1c2475 !important;
  color: white !important;

  padding: 0.5rem 0.75rem !important;
  &:hover {
    background-color: #1c2475 !important;
  }
}
.orText {
  font-weight: 600 !important;
}
.subTitle {
  text-align: start;
  margin-bottom: 1rem;
}
.subText {
  font-weight: 500 !important;
}
