.dataContainer {
  width: 100%;
  padding: 10px 20px 10px 20px;
}
.partEnd1 {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 1.5rem;
}
.seperateLine {
  border-top: 1px solid darkgray;
  width: 40%;
}
.seperateLine2 {
  border-top: 1px solid darkgray;
  width: 50%;
}
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}
.textSeperate {
  margin: 30px 18px;
  font-weight: 600;
  font-size: 14pt;
}
.num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.paid {
  color: #1c2475;
  font-weight: 500;
  margin-left: 0.5rem;
}

.confirmation {
  display: flex;
  margin-top: 2.1rem;
}
.total {
  display: grid;
  justify-content: flex-end;
}
.inputField {
  border-radius: 5px;
  border: 1px solid lightgray;
}
.inputField2 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.inputField3 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.inputField4 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.descriptionField {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.inputFieldControl2 {
  min-height: 100px !important;
}
.text {
  min-height: 38px;
}
.secondPart {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

.buttonStyles3 {
  max-width: 120px;
  height: 35px;
  font-size: 14px !important;
  border: 1px solid #1c2475 !important;
  color: #1c2475 !important;
  background: transparent !important;
  padding-bottom: 15px;
  &:hover {
    background: transparent !important;
    color: #1c2475 !important;
  }
}
.disclaimerPolicy {
  font-size: 13px;
  margin-bottom: 35px;
  margin-top: 30px;
  font-weight: 500;
}
.fileText {
  color: #1c2475;
  font-weight: 600;
}
.removeTxt {
  font-weight: 600;
  color: red;
}
.notice {
  font-weight: 500;
  margin-bottom: 20px;
}
.optionPart {
  color: #40e8ff;
  font-weight: 600;
  margin-top: 13px;
}

.attachText {
  font-weight: 650;
  margin-top: 3rem;
}
.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-top: 12px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
  height: 40px !important;
  width: inherit !important;
  display: flex !important;
  flex: 1 !important;
}
.reqText {
  margin-top: 13px;
  font-weight: 650;
  color: red;
}
.eachFielDetailsView {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3px 5px;
}
.fileRemoveIcon {
  position: absolute;
  top: -3px;
  right: -8px;
  cursor: pointer;
}
.fileSelectorContainer {
  display: inline-flex;
  margin-top: 10px;
  // padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  border-radius: 8px;
}
.eachFielDetailsView {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3px 5px;
}
.sizeStyles {
  font-weight: 400;
  font-size: 13px;
}
.btn1 {
  background: transparent !important;
  color: #1c2475;
  // width: auto;
  display: flex !important;
  justify-content: flex-end !important;
  font-weight: 550;
  &:hover {
    background: transparent !important;
    color: #1c2475 !important;
  }
}
.buttonStyles {
  min-width: 150px;
  /* height: 37px; */
  font-size: 14px !important;
  background-color: #1c2475 !important;
}

.radioSwitch {
  margin-top: 3.4rem;
}

.cancelStyle {
  background: transparent;
  color: #1c2475;
  border: 1px solid #1c2475;
  max-width: 150px !important;
  &:hover {
    background: transparent !important;
    color: #1c2475 !important;
    border: 1px solid #1c2475;
  }
}
.saveStyles {
  display: flex;
  justify-content: flex-end;
}
.tableContainer {
  width: 100%;
  overflow-x: auto;
}
.matchContainer {
  background-color: rgba(211, 211, 211, 0.37);
  padding: 15px;
}
.matchContainer1 {
  background-color: #f4f5f8;
  padding: 15px;
}
.incgst {
  font-size: 13px;
  font-weight: 600;
  margin-left: 5px;
}

.gstText {
  font-size: 13px;
  font-weight: 600;
  margin-right: 78px;
}
.datePicker {
  height: 2.375rem;
  box-shadow: none !important;
  border: 0.0625rem solid lightgray;
  border-radius: 0.3125rem;
}
.datePickerError {
  border: 0.0625rem solid #f08e8b;
  background-color: #fde5e3;
}
.receivedStyles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // text-align: right;
  gap: 10px;
  // margin-right: 29px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.searchAllLink {
  font-weight: bold;
  color: #1c2475 !important;
  cursor: pointer;
}
.transactionBtn {
  max-width: 120px !important;
}
.transactionBtn2 {
  max-width: 190px !important;
}
.modalpopupBtn {
  min-width: 90px !important;
}
.DatePickerCustomStyles {
  height: 38px;
  box-shadow: none !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
  // max-width: 130px !important;
}
.cancelButton {
  background-color: white !important;
  color: #1c2475 !important;
  border: 1px solid #1c2475;

  &:hover {
    background-color: white !important;
    color: #1c2475 !important;
    border: 1px solid #1c2475;
  }
}
.gridMainContainer {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  & > header {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1441px) {
  .receivedStyles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // text-align: right;
    gap: 10px;
    // margin-right: 29px;
  }
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .matchStyles {
    font-size: 1.15rem;
  }
  .receivedStyles {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // text-align: right;
    gap: 10px;
    margin-top: 20px;
    // margin-right: 29px;
  }
  .matchContainer {
    background-color: rgba(211, 211, 211, 0.37);
    padding: 15px;
    width: 100%;
  }
  .matchContainer1 {
    background-color: #f4f5f8;
    padding: 15px;
    width: 100%;
  }
}
