.cardTitleStyle {
  font-size: 21px;
  line-height: 1.8rem;
}

.imageStyle {
  display: inline-block;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.cardBodyStyle {
  padding: 20px;
}

.cardSubtitleStyle {
  font-size: 14px;
  margin-top: 20px;
  color: darkgray;
}
.subHeader {
  font-size: 17pt;
  font-weight: 400;
  color: #2496e2;
}
.cardTextStyle {
  padding-top: 1rem;
  color: #39393b;
}

.cardStyle {
  background-color: transparent !important;
  border: none;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    // webkit-transform: scale(1.02);
    transform: scale(1.02);
    -webkit-box-shadow: 0 0.375rem 2.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-box-shadow: var(--elevation-floating);
    box-shadow: var(--elevation-floating);
    background-color: rgba(245, 245, 245, 0.541) !important;
  }
}

.lowerCaseRightHeading {
  color: #39393b;
}

@media (max-width: 768px) {
  .cardStyle {
    margin-bottom: 10%;
  }
}
