.subbodyContainer {
  padding: 0px !important;
  overflow-y: auto;
  height: 100%;
  display: flex;
}
.containerWraper {
  height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;
}
.bodyContainer {
  // height: inherit;
  overflow: auto;
  padding: 0px !important;
}
.mainConatianer {
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 0px;
  // flex: auto;
}
.sidebarContainer {
  overflow-y: auto;
  background-color: #1c2475;
}
.contentDataCon {
  position: relative;
  overflow: auto;
  flex: 1;
}

.sliderSlideBar {
  overflow-y: auto;
  position: absolute;
  height: 100%;
  z-index: 5;
}

@media (max-width: 1023px) {
  .sidebarContainer {
    display: none;
  }
}

@media (min-width: 1024px) {
  .sliderSlideBar {
    display: none;
  }
}
