.title {
  font-size: 1.25rem;
  color: #212529;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.signInForm {
  max-width: 28.125rem !important;
  margin: 4rem auto;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(211, 211, 211, 0.596);
  padding: 15px;
}

.textFieldStyles {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}
.companyDetails {
  display: flex;
  gap: 5px;
}
.companyType {
  color: darkgray;
}
.companyItem {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}
.addresstextFieldStyles {
  width: 100%;
  position: relative;
  // margin-bottom: 0.5rem;
}

.instructionText {
  font-size: 12px;
  color: #999999;
  // margin-top: 5px;
}

.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}

.forgotTextStyle {
  color: #1d2378 !important;
  text-decoration: none;
}

.subBoxContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
  height: 24px;
  margin-top: 0.5rem;
  font-size: 12px;
}

.buttonStyles {
  margin-top: 2rem;
  width: 100%;
}

.DropdownStyles {
  width: 100%;
  margin-bottom: 0.5rem;
}

// .PreviousButtonStyles {
//   margin-top: 1rem;
//   font-weight: 500;
//   color: #1d2378;
//   background-color: transparent !important;
// }

// .PreviousButtonStyles:hover {
//   font-weight: 500;
//   background-color: transparent !important;
//   color: #1d2378;
// }

.SkipButtonStyles {
  margin-top: 1rem !important;
  color: #1d2378 !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent !important;
  width: 100%;
}

.SkipButtonStyles:hover {
  background-color: transparent !important;
  color: #1d2378;
  border: none;
}

.formStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}

.footerText {
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

.TurquoiseTitle {
  color: #6fd0e0;
}

.errorText {
  color: red;
  // display: flex; /* Make the container flex to align icon and text horizontally */
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;

  .icon {
    margin-right: 0.5rem; /* Add some spacing between the icon and text */
  }
}

.PasswordErrorIconStyles {
  margin-left: 2px;
  margin-right: 5px;
}

.warningIconStyle {
  color: #ff0000;
}

.inputError {
  border: 1px solid red; /* Red border for input */
  background-color: #ffe6e6; /* Light red background color */
  /* Add any other styles you want for error state */
}

.editIcon {
  color: #858585;
  font-weight: 700;
  margin-bottom: 5px;
}

.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.crossiconsSyles {
  color: red;
}
.eyeIconStyle {
  color: #212529;
}

.AddCompanyIconStyles {
  height: 60px;
  width: 100px;
  margin-bottom: 1rem;
}

.SubHeading {
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.CustomInputStyles {
  position: relative;
  border: 1px dashed #6fd0e0;
  border-radius: 10px !important;
  height: 100px;
  width: 100px;
}

.InfoTextStyle {
  margin-bottom: 1rem;
  text-align: center;
  display: block;
  padding: 10px;
}

.disabledTextField {
  background-color: white;
  pointer-events: none;
  // opacity: 0.6;
}

.matchedCompany {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}
.matchedCompany:hover {
  cursor: pointer;
  background-color: #6fd0e0;
  // width: 280px;
  // padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.clicked {
  cursor: pointer;
  background-color: #6fd0e0;
  // width: 280px;
  // padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.matchedCompanyList {
  list-style: none;
  height: 45px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.paymentForm {
  padding: 1rem;
}
