modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = [
  "redis",
  "libuuid",
  "cairo",
  "pango",
  "giflib",
  "libjpeg",
  "libpng",
  "pixman",
  "pkg-config",
  "util-linux",
]

[userenv]

[userenv.shared]
PORT = "3001"
NODE_ENV = "development"
BULL_USER = "admin"
BULL_PASSWORD = "admin123"
NEXT_PUBLIC_GRAPHQL_URI = "https://1916bc7e-fc49-48b0-a4f8-2f1339e15b69-00-39yc2909rsada.janeway.replit.dev/graphql"
NEXT_PUBLIC_DEPLOYED_URL = "https://1916bc7e-fc49-48b0-a4f8-2f1339e15b69-00-39yc2909rsada.janeway.replit.dev/"
NEXT_PUBLIC_RECAPTCHA_KEY = ""
NEXT_PUBLIC_GOOGLE_PLACES_API_KEY = ""
NEXT_PUBLIC_GTM_ID = ""
NEXT_PUBLIC_GA_MEASUREMENT_ID = ""

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 4300
externalPort = 4200

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6379
externalPort = 6800

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd front-end && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "redis-server --daemonize yes; cd back-end && npm run start:dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd /home/runner/workspace/back-end && npm run start:prod & sleep 10 && cd /home/runner/workspace/front-end && npm run start"]
build = ["bash", "-c", "cd /home/runner/workspace/back-end && rm -rf dist && npm run build && cd /home/runner/workspace/front-end && npm run build"]
