.cardTitleStyle {
  font-size: 24px;
  line-height: 2.5rem;
}

.cardBodyStyle {
  padding: 0;
}

.cardSubtitleStyle {
  font-size: 14px;
  color: darkgray;
}

.cardTextStyle {
  padding-top: 1rem;
  color: #39393b;
}

.cardStyle {
  background-color: transparent !important;
  border: none;
}

.lowerCaseRightHeading {
  color: #39393b;
}

@media (max-width: 768px) {
  .cardStyle {
    margin-bottom: 10%;
  }
}
