.container {
  padding: 1.25rem;
  height: 100%;
  & > header {
    padding: 0;
    padding-bottom: 1rem;
  }
  .breadcrumbSeparator {
    margin: 0px 5px;
    font-weight: 600;
    font-size: 14px;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding-bottom: 1.5rem;
    .headerText {
      color: #39393b;
      font-weight: 700 !important;
      font-size: 22.142px;
    }
    .button {
      max-width: 8.75rem;
      height: 1.875rem;
      font-size: 0.875rem !important;
    }
  }
}
.subHeaderIcon {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  .icon {
    cursor: pointer;
  }
  .subHeaderTabs {
    margin-top: 0.2rem;
  }
}
.card {
  max-width: 28.125rem;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0.4375rem 1.8125rem 0px;
  border: 0.0625rem solid rgba(211, 211, 211, 0.596);
  padding: 1.875rem 2rem;
  margin: 2rem auto;
  .textFieldStyles {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .title {
    font-size: 1.25rem;
    color: #212529;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
  }
  .subText {
    text-align: center;
    color: #6b6b6b;
    margin-top: 1.5rem;
  }
  .button {
    border: none;
    border-radius: 0.3125rem;
    background-color: #1c2475;
    color: white;
    width: 28%;
    padding: 0.25rem;
    &:hover {
      background-color: #1c2475 !important;
    }
  }

  .profileIcon {
    height: 3.75rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }
  .error {
    color: red;
  }
  .endIconStyle {
    display: flex;
    right: 0;
    z-index: 999;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .errorContainer {
    display: flex;
    margin-top: 0.25rem;
    padding-top: 5px;
  }
  .errorTextStyles {
    color: red !important;
    font-size: 12px !important;
    margin-left: 4px;
  }
  .cardFieldSubText {
    margin-top: 0.3125rem;
    font-size: 1rem;
  }

  .googlFiledStyles {
    width: 100%;
    & > div > div > div {
      min-height: 40px !important;
    }
  }
  .phoneNumberStyles {
    width: 100%;
    position: relative;
    & > div > div > div > input {
      min-height: 40px !important;
    }
    & > div > div > svg {
      top: 12px;
    }
  }
  .disabledTextField {
    background-color: white;
    pointer-events: none;
  }
  .disabledFieldIcon {
    color: #858585;
    font-weight: 700;
  }
  .cancelButton {
    margin-top: 1rem;
    width: 100%;
    color: #1d2378;
    font-weight: 500;
    border: none;
    background-color: transparent !important;
    &:hover {
      background-color: transparent !important;
      color: #1d2378;
      border: none;
    }
  }
  .addButton {
    width: fit-content;
  }
  .submitButton {
    margin-top: 2rem;
  }
}
.customPopupStyles {
  --bs-popover-zindex: 0 !important;
}
.actionDots {
  display: flex;
  width: 3.125rem;
  justify-content: center;
  cursor: pointer;
}
.datePicker {
  height: 2.375rem;
  box-shadow: none !important;
  border: 0.0625rem solid lightgray;
  border-radius: 0.3125rem;
  outline: none;
  max-width: 8.125rem !important;
}
.searchBarIcon {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.searchBar {
  padding-right: 30px !important;
  border-radius: 5px !important;
  height: 38px !important;
  width: inherit !important;
  display: flex !important;
  flex: 1 !important;
}

.customDatePicker {
  display: flex;
  gap: 1rem;
}
.breadcrumb {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.cursorPointer {
  cursor: pointer;
}
.separatorStyle {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .nameField {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 430px) and (max-width: 932px) {
  .nameField {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.resetButton {
  background-color: #f0f0f0; /* Example background color */
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 10px; /* Add spacing if needed */

  &:hover {
    background-color: #e0e0e0; /* Change on hover */
  }
}

.iconSpacing {
  margin-right: 5px; /* Adjust spacing as needed */
  vertical-align: middle; /* Aligns the icon with the text */
}
