.container {
  padding: 1.25rem;
  height: 100%;
  .breadcrumbSeparator {
    margin: 0px 5px;
    font-weight: 600;
    font-size: 14px;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding-bottom: 1.5rem;
    .headerText {
      color: #39393b;
      font-weight: 700 !important;
      font-size: 22.142px;
    }
  }
  .radioToggle {
    width: 30%;
  }
  .projectSumLabel {
    font-weight: 500;
    font-size: 1rem;
    margin-right: 0.25rem;
  }
}
