.mainCon {
  display: flex;
  padding: 20px;
  height: 100% !important;
  overflow-y: auto;
  font-size: 15px;
}
.containerBox {
  width: 100%;
  background-color: #f4f5f8;
  padding: 20px;
}
.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
}

.headerAndButtonCon {
  // display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.buttonsContainers {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.subHeader {
  font-weight: 600 !important;
  font-size: 15px;
  margin-bottom: 1rem;
  max-width: 200px;
  min-width: 100px;
}

.discriptionsubHeader {
  display: flex;
  font-weight: 600 !important;
  font-size: 15px;
  margin-bottom: 0.5rem;
  min-width: 150px;
  justify-content: space-between;
}

.test {
  display: flex;
  flex: 1;
  padding-right: 20px;
  gap: 8px;
}

.status1 {
  border-left: 5px solid #9876bf;
  border-radius: 5px;
  padding-left: 9px;
}
.status2 {
  border-left: 5px solid #f5b166;
  border-radius: 5px;
  padding-left: 9px;
}
.status3 {
  border-left: 5px solid #e8377e;
  border-radius: 5px;
  padding-left: 9px;
}
.status4 {
  border-left: 5px solid #ead7ed;
  border-radius: 5px;
  padding-left: 9px;
}
.status5 {
  border-left: 5px solid #b5e5ee;
  border-radius: 5px;
  padding-left: 9px;
}
.status6 {
  border-left: 5px solid #ee7187;
  border-radius: 5px;
  padding-left: 9px;
}
.textHead {
  font-weight: 600;
}

.textAndSelectCon {
  display: flex;
  gap: 10px;
}

.subHeaderIcon {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  .icon {
    cursor: pointer;
  }
  .subHeaderTabs {
    margin-top: 0.2rem;
  }
}
.subHeaderIcon1 {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  .icon {
    cursor: pointer;
  }
  .subHeaderTabs {
    margin-top: 0.2rem;
  }
}
.fields {
  display: flex;
  gap: 1.5rem;
}
.separatorStyle {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}

.buttonStylesOne {
  height: 35px;
  font-size: 14px !important;
  padding: 0px 20px 0px 20px;
}

.buttonStylesThree {
  max-width: 60px !important;
  height: 35px;
  font-size: 14px !important;
}
.smallCardTags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.headerIconConLoad {
  display: flex;
  justify-content: flex-end;
}
.searchBarIcon {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
}
.searchBar {
  padding-right: 30px !important;
  border-radius: 5px !important;
  height: 38px !important;
  width: inherit !important;
  display: flex !important;
  flex: 1 !important;
}

.textAndSelectCon {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.textFieldStyles {
  height: 38px;
  box-shadow: none !important;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.subText {
  font-weight: 400;
}

.description {
  display: flex;
}
.address {
  display: flex;
  flex-direction: column;
}

.address::after {
  content: "";
  display: block;
  height: 1rem; /* Adjust this value as needed to create space between lines */
}

.noDataStyle {
  display: flex;
  justify-content: center;
}
.loaderContainer {
  display: flex;
  height: inherit;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.addButton {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  padding-bottom: 1rem;
  .buttonStyles {
    max-width: 7.5rem;
    height: 1.875rem;
    font-size: 0.875rem !important;
  }
}
.dualCards {
  display: grid;
  grid-template-columns: 42% 50%;
  justify-content: space-between;
}
.dotsContainer {
  cursor: pointer;
}
.DatePickerCustomStyles {
  z-index: 2;
}
.zIndex {
  z-index: 2 !important;
}

.DatePickerCustomStyles {
  z-index: 2;
}
.zIndex {
  z-index: 2 !important;
}

.activityDate {
  width: 30%;
}
.dateAlign {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .headerText {
    color: #39393b;
    font-weight: 700 !important;
    font-size: 20.142px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 430px) and (max-width: 932px) {
  .contractSelect {
    display: flex;
    row-gap: 25px;
  }
  .contractSelects {
    display: flex;
    row-gap: 25px;
  }
}
@media screen and (min-width: 427px) and (max-width: 768px) {
  .headerAndButtonCon {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .activityDate {
    width: 30%;
  }
  .subHeaderIcon {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 7px;
    .icon {
      cursor: pointer;
    }
    .subHeaderTabs {
      margin-top: 0.2rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  .buttonsContainers {
    display: contents;
    justify-content: space-around;
  }
  .activityDate {
    width: 80%;
  }
  .mainCon {
    margin-bottom: 3.5rem !important;
  }
  .buttonStyles {
    max-width: 100%;
    // margin-bottom: 30px !important;
  }
  .buttonStylesOne {
    max-width: 100%;
    // margin-top: 30px;
  }
  .buttonStylesThree {
    width: 100% !important;
    height: 35px;
    font-size: 14px !important;
    // margin-bottom: 20px;
    margin-top: 20px;
  }
  .headerText {
    color: #39393b;
    font-weight: 700 !important;
    font-size: 18.142px;
    margin-bottom: 20px;
  }
  .subHeaderIcon {
    margin-top: 1.5rem;
  }

  .buttonStyles {
    max-width: 100% !important;
    height: 30px;
    font-size: 14px !important;
  }
  .fields {
    display: inline;
    justify-content: center;
  }
  .subHeaderIcon {
    display: flex;
    gap: 20px;
    margin-top: 25px !important;
    align-items: center;
    justify-content: flex-end;
  }
  .subHeaderIcon1 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }
  .contractSelects {
    display: flex;
    row-gap: 25px;
  }
  .contractSelect {
    display: flex;
    row-gap: 11px;
  }
  .headerAndButtonCon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5rem;
  }
  .buttonsContainers {
    display: inline;
    gap: 5px;
    // justify-content: flex-end;
  }
  .dateAlign {
    display: inherit;
  }
}
@media screen and (min-width: 430px) and (max-width: 932px) {
  .contractSelects {
    display: flex;
    row-gap: 25px;
  }
}
