.ModelHeaderTitle {
  color: #1d2378;
  font-size: 1.625rem;
  font-weight: 600;
}

.confirmButton {
  border-radius: 1rem !important;
}

.cancelButton {
  color: #1d2378;
  border-radius: 1rem !important;
  width: 17.6875rem;
  padding: 0.3125rem !important;
  border: 1px solid #1c2475 !important;
  background-color: transparent !important;
}
