.ContainerStyles {
  padding-right: 50px !important;
  padding-left: 25px !important;
  margin-top: 1rem !important;
}

.ImageStyles {
  margin-top: 30px !important;
  width: 50px !important;
  margin-left: 45px !important;
}

.HeadingsStyle {
  margin-top: 1rem !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  margin-left: 10px !important;
}

.DiscriptionStyles {
  font-size: 14px !important;
  display: flex !important;
  margin-top: 5px !important;
  justify-content: space-around !important;
}

.ImageRowStyles {
  padding: 0px 20px 0px 20px !important;
}

.QuickLinkStyles {
  border: transparent !important;
  border-radius: 5px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.RowStyles {
  gap: 10px !important;
}

.CardBodyStyle {
  flex-direction: column !important;
  display: flex !important;
  justify-content: space-between !important;
}

.CardStyles {
  height: 100% !important;
  min-height: 10rem !important;
  display: flex !important;
  border: transparent !important;
  border-radius: 5px !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.CardTitle {
  margin-bottom: 1rem;
  font-size: 14px !important;
  font-weight: 400 !important;
}

.CardSubtitle {
  font-size: 14px !important;
  font-weight: 500 !important;
  display: flex;
  justify-content: space-between;
}

.CardMutedTextStyles {
  font-size: 14px !important;
  font-weight: 400 !important;
  font-style: italic !important;
  margin-top: 5px !important;
  color: #777 !important;
  margin-bottom: 0 !important;
}

.CardTextStyles {
  font-size: 14px !important;
  font-weight: 400 !important;
}
.contentOne {
  font-size: 14px !important;
  color: #585858;
}
.contentTwo {
  font-size: 14px !important;
  color: #808080;
}

.BottomLink {
  display: flex !important;
  justify-content: flex-end !important;
  text-decoration: none !important;
  color: #1d2378 !important;
  font-size: 14px !important;
  margin-top: 0.5rem;
  font-weight: 700 !important;
}
.contactAdmin {
  color: #1d2378 !important;
  font-weight: 500;
  text-decoration: none !important;
}

.CardColorTextStyles {
  color: #ef297d !important;
  font-weight: 700 !important;
  font-size: 14px !important;
}

/* UserDashboardPage.module.scss */

.ScrollableContent {
  overflow-y: auto !important;
  max-height: 160px !important;

  &::-webkit-scrollbar {
    width: 6px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black !important;
    border-radius: 0 !important;
  }

  &::-webkit-scrollbar-track {
    background-color: #eee !important;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent !important;
  }
}
.CardHeight {
  max-height: 220px !important;
}
.noRecordRow {
  height: 80% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardRowStyles {
  margin-top: 2rem !important;
}

.FlexCardStyles {
  display: flex !important;
  justify-content: flex-start !important;
  margin-bottom: 0 !important;
}
