.groupContainer {
    display: flex;
    align-items: center;
  }
  .myFormStyle {
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 32px;
  }
  .labelTextStyle {
    margin-bottom: 0.25rem;
    color: #212529;
    text-align: left;
    display: block;
  }
  .errorContainer {
    display: flex;
    margin-top: 0.25rem;
    padding-top: 5px;
  }
  .errorTextStyles {
    color: red !important;
    font-size: 12px !important;
    margin-left: 4px;
  }
  .errorBorder {
    border: 1px solid #f08e8b;
    background-color: #fde5e3;
  }
  .warningIconStyle {
    color: #ff0000;
  }

  .datePickerIcon .react-datepicker__input-container{
      display: flex;
      align-items: center;
      max-width: 100% !important;
    }