.title {
  font-size: 1.25rem;
  color: #212529;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.UploadAreaStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}

.InfoTextStyle {
  margin-bottom: 0.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.InputStyles {
  position: relative;
  border: 1px solid #6fd0e0;
  border-radius: 4px;
  height: 150px;
  width: 300px;
  cursor: grab;
  margin-bottom: 1rem;
}

.ImagePlaceholderStyles {
  color: #b6b3b3;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

.imageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: inherit;
}

.removeIcon {
  position: absolute;
  top: -10px;
  right: -20px;
  cursor: pointer;
  border-radius: 50%; /* Add border radius for circular shape */
}

.SelectedFileName {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 5px;
  color: #212529;
}

.FileIcon {
  color: #212529;
}
