.mainCon {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  height: 100%;
  overflow-y: auto;
  font-size: 15px;
}
.previligesTable {
  display: flow-root;
  // width: 90%;
  margin-right: 2rem;

  // border: 1px solid red;
}
.tabContainer {
  // border: 1px solid red;
  //2F96E2
  display: flex;
  gap: 22px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.vrLine {
  // border: #51678f 1px solid;
  // background-color: lightgray;
  // width: 1px;

  // background-color: lightgray;
  display: flex;
  border-left: 1px solid lightgray;
  height: 20px;
  margin: 3px;
}
.tabItem {
  font-size: 14px;

  // text-decoration: underline;
  height: 30px;
  padding: 2px;
  cursor: pointer;
  color: #39393b;
}
.tabActive {
  font-weight: 600;
  color: black;
  border-bottom: 3px solid #2f96e2;
}
.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
  margin-bottom: 1rem;
}
.formStyle {
  width: 70%;
}
.textFieldStyles {
  margin-bottom: 0.5rem;
}
.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.crossiconsSyles {
  color: red;
}
.eyeIconStyle {
  color: #212529;
}

.formStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}
.footerText {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}

.colorTextStyle {
  color: #2496e2;
  cursor: pointer;
  text-decoration: underline;
}

.btnContianer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}
.saveBtnStyle {
  width: 7.5rem !important;
  max-width: 15.625rem;
  background-color: #1c2475 !important;
  color: white !important;
  border: 1px solid #1c2475 !important;
}
.cancelBtnStyle {
  width: 7.5rem !important;
  max-width: 15.625rem;
  background-color: transparent !important;
  color: #1c2475 !important;
  border: 1px solid #1c2475 !important;
  &:hover {
    background-color: transparent !important;
    color: #1c2475 !important;
  }
}
.separatorStyle {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}

.errorContainer {
  display: flex;
  margin-top: 0.25rem;
  padding-top: 5px;
}
.errorTextStyles {
  color: red !important;
  font-size: 12px !important;
  margin-left: 4px;
}
.errorBorder {
  border: 1px solid #f08e8b;
  background-color: #fde5e3;
  font-weight: bold;
}
.noDataStyle {
  display: flex;
  justify-content: center;
}
.checkBoxHeights {
  display: inline-block;
  & > input {
    height: 16px;
    width: 16px;
    border-color: #39393b;
  }
}
.startingDataStyles {
  display: flex;
  left: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  // cursor: pointer;
}

@media (max-width: 768px) {
  .formStyle {
    width: 100%;
  }
  .eachFieldBottom {
    margin-bottom: 0.5rem;
  }
}
