.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 1.25rem;
  color: #212529;
  font-weight: 500;
  margin-bottom: 1.5rem;
}
.loginPage {
  overflow-y: auto;
  flex: 1;
}
.signInForm {
  max-width: 348px;
  margin: 4rem auto;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(211, 211, 211, 0.596);
  padding: 15px;
}
.subBoxContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
  height: 24px;
  margin-top: 0.5rem;
}
.textFieldStyles {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}
.buttonStyles {
  width: 100%;
}
.formStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}
.footerText {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}

.colorTextStyle {
  color: #2496e2;
  cursor: pointer;
  text-decoration: underline;
}
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}

.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.eyeIconStyle {
  color: #212529;
}

@media screen and (max-width: 374px) {
  .signInForm {
    max-width: 300px;
  }
}
