//common styles
// used in add admin users  and add groups
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
  height: 40px !important;
  z-index: 1 !important;
}
.inputFieldControlWithIcons {
  padding-right: 30px !important;
  padding-left: 30px !important;
  border-radius: 5px !important;
  height: 40px !important;
  z-index: 1 !important;
}

.inputFieldControl1 {
  height: 120px !important;
}

.datePickerIcon {
  .react-datepicker__input-container {
    display: flex;
    align-items: center;
  }
}

.editbar {
  .rsw-editor {
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    min-height: 200px !important;
    overflow: hidden;
  }
}
.tableSection {
  .ciRfHL {
    position: relative;
    width: 100%;
    border-radius: inherit;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 0;
    // max-height: 0vh !important;
    -webkit-overflow-scrolling: touch;
  }
}
