.billingContainer {
  margin: 20px;
  padding: 20px;

  @media (max-width: 768px) {
    margin: 10px;
    padding: 10px;
  }
}

.billingInfoSection,
.subscriptionSection {
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-bottom: 10px;
  }
}

.billingCard,
.subscriptionCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);

  @media (max-width: 768px) {
    padding: 10px;
  }
}

.title {
  font-weight: bold;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.header {
  background-color: #eceef1 !important;
  border-bottom: none;
}

.closeImage {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  cursor: pointer;
}

.paymentMethod {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.cardImage {
  height: 28px;
  margin-right: 8px;
}

.editIcon {
  cursor: pointer;
  color: blue;
}

.switchButton {
  width: 100%;
  margin-top: 20px;
  font-weight: bold;

  background-color: #1c2475;
  color: white;
  &:hover {
    background-color: #1c2475;
    color: white;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    margin-top: 10px;
  }
}

.subscriptionDetails {
  text-align: center;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.vat {
  font-size: 16px;
  color: gray;
}

.dueDate {
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.totalDue {
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}

.discountedPrice {
  color: #1c2475;
  font-size: 18px;
  font-weight: bold;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.addPaymentButton {
  border-color: #007bff;
  color: #007bff;
  font-weight: bold;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

.addPaymentIcon {
  margin-right: 8px;
}
