.fullScreenModalContainer {
  .modalBody {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modalContent {
    width: 30%;
  }

  .modalTitle {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .submitButton {
    width: 100%;
    margin-top: 1rem;
    background-color: #1c2475;
    color: white;
    &:hover {
      background-color: #1c2475;
      color: white;
    }
  }

  .closeImage {
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
  }
}
.closeButton {
  background-color: #45e9fe;
  color: white;
  border-radius: 0.3125rem;
  font-size: 1rem;
  width: 6.25rem;
  padding: 0.25rem;
  font-weight: 600;
  &:hover {
    background-color: #45e9fe !important;
  }
}
.footer {
  background-color: #1d2378 !important;
}

.cardElement {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.errorMessage {
  color: #eb1c26; /* Red color */
  margin-top: 0.625rem; /* Some padding for space around the text */
  font-size: 0.875rem; /* Font size */
}
