.header {
  background-color: #eceef1 !important;
  border-bottom: none;
}

.closeImage {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  cursor: pointer;
}
.cursorPointerNone {
  cursor: default !important;
  &:hover {
    background-color: #212529 !important;
  }
}
.choosePlan {
  background-color: #1c2475 !important;
  color: white !important;
  &:hover {
    background-color: #1c2475 !important;
    color: white !important;
  }
}

.tableHeader table thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #ffffff;
  max-height: 200px !important;
  height: 200px;
}
