.mainCon {
  display: flex;
  height: 100% !important;
  overflow-y: auto;
  padding: 20px;
}
.signInForm {
  max-width: 28.125rem !important;
  margin: 4rem auto;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(211, 211, 211, 0.596);
  padding: 15px;
}
.signInFormTable {
  max-width: 48.125rem !important;
  margin: 0rem auto;
  margin-bottom: 60px;
  border-radius: 0.375rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid rgba(211, 211, 211, 0.596);
  padding: 15px;
}
.formStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}

.title {
  font-size: 1.25rem;
  color: #212529;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}
.errortitle {
  font-size: 2rem;
  color: red;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}
.errorDescription {
  color: red;
  text-align: center;
}

.successtitle {
  font-size: 2rem;
  color: rgb(4, 207, 253);
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}

.buttonStyles {
  // margin-top: 1rem;
  max-width: 150px;
  height: 30px !important;
  font-size: 14px !important;
}

.textFieldStyles {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}

.inputError {
  border: 1px solid red; /* Red border for input */
  background-color: #ffe6e6; /* Light red background color */
}

.crossiconsSyles {
  color: red;
}

.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.errorText {
  color: red;
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;

  .icon {
    margin-right: 0.5rem; /* Add some spacing between the icon and text */
  }
}

.CustomInputStyles {
  position: relative;
  border: 2px solid #6fd0e0;
  border-radius: 5px;
  height: 150px;
  width: 100%;
}

.CancelButtonStyles {
  margin-top: 0.5rem !important;
  color: #1d2378 !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent !important;
}

.CancelButtonStyles:hover {
  background-color: transparent !important;
  color: #1d2378;
  border: none;
}

.ViewButtonStyles {
  margin-top: 1rem !important;
  color: #71ecfc !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent !important;
}

.ViewButtonStyles:hover {
  background-color: transparent !important;
  border: none;
}

.RemoveButtonStyles {
  color: red !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent !important;
}

.RemoveButtonStyles:hover {
  background-color: transparent !important;
  border: none;
}

.ImagePlaceholderStyles {
  color: #b6b3b3;
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 15px;
}
.downloadFile {
  margin-top: 1.8rem !important;
  margin-bottom: 1rem;
  color: #1d2378 !important;
  font-weight: 500 !important;
  border: none !important;
  background-color: transparent !important;
}
.fileName {
  border: 1px solid lightgray;
  max-width: fit-content;
}
.fileSelectorContainer {
  display: inline-flex;
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 8px;
}
.eachFielDetailsView {
  display: flex;
  flex-direction: column;
  width: 49px;
  position: relative;
}
.eachFile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.blockDetails {
  display: flex;
}
.fileRemoveIcon {
  position: absolute;
  top: -3px;
  right: -8px;
  cursor: pointer;
}
.nameStyles {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tableClasses {
  color: red !important;
}
.checkBoxHeights {
  display: inline-block;
  & > input {
    height: 16px;
    width: 16px;
    border-color: #39393b;
  }
}
.tableStyles {
  width: 100%;
  overflow: auto;
}
.entiresHeaderCon {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  font-weight: bold;
  width: 100%;
}
.duplicateDesCon {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: red;
  align-items: center;
}
@media screen and (min-width: 320px) and (max-width: 426px) {
  .buttonStyles1 {
    margin-top: 1rem;
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .tableStyles {
    display: block;
  }
}
