.dataContainer {
  width: 100%;
  padding: 10px 20px 10px 20px;
}
.modalCloseButton {
  margin-right: 5rem !important;
}
.dotsContainer {
  display: flex;
  width: 50px;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
}

.marginStyles {
  margin-top: 2.6rem !important;
}

.marginStyles2 {
  margin-top: 4.3rem !important;
}

.errorText {
  color: red;
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;

  .icon {
    margin-right: 0.3rem; /* Add some spacing between the icon and text */
    font-size: 16px;
  }
}
.gridAction {
  color: #1e2575;
  cursor: pointer;
}

.DatePickerCustomStyles {
  height: 38px;
  box-shadow: none !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  outline: none;
}

.datePickerError {
  border: 0.0625rem solid #f08e8b;
  background-color: #fde5e3;
}

.endTextStyle {
  color: black;
  right: 0;
  z-index: 999;
  margin-right: 10px;
}

.plusIcon {
  color: green;
  cursor: pointer;
}

.firstPart {
  width: 100%;
  // height: 50%;
  // background-color: #f4f5f8;
  padding-top: 20px;
  padding-bottom: 20px;
}

.inStyle {
  width: 5%;
}
.desc {
  width: 30%;
}
.quant {
  width: 15%;
}
.priceStyle {
  width: 15%;
}
.gstStyle {
  width: 20%;
}
.amtStyles {
  width: 20%;
}
.formStyles {
  width: 100%;
}
.imgStyle {
  width: 60px !important;
  height: 60px !important;
}
.savebtn {
  margin-top: 2rem;
}

.closeBtn {
  border: 1px solid #1c2475 !important;
  padding: 5px 40px 5px 40px !important;
}
.paymentButtonsAlign {
  display: flex;
  gap: 1rem;
  justify-content: flex-end !important;
}

.button {
  // margin-top: 1rem;
  width: 10rem !important;
  font-size: 16px !important;
}
.deleteButton {
  background-color: #dc143c !important;
  color: white !important;
  border: 1px solid #dc143c;

  &:hover {
    background-color: #dc143c !important;
    color: white !important;
    border: 1px solid #dc143c;
  }
}
.editButton {
  background-color: #1c2475 !important;
  color: white !important;
  border: 1px solid #40e8ff;

  &:hover {
    background-color: #1c2475 !important;
    color: white !important;
    border: 1px solid #40e8ff;
  }
}
.saveButtonOnView {
  background-color: #1c2475 !important;
  color: white !important;

  &:hover {
    background-color: #1c2475 !important;
    color: white !important;
  }
}

.paymentTypeBtnStyles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding-top: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.statusName {
  color: #1c2475;
  font-weight: 650;
}
.statusNameId {
  color: #1c2475;
  font-weight: 650;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-top: 10px;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.paid {
  color: #1c2475;
}
.switch {
  width: 100% !important;
}
.claim {
  width: 100%;
}
.claimStyles {
  text-align: right;
  margin-top: 1.5rem;
}
.paymentSaveStyles {
  background-color: #40e8ff !important;
  color: white !important;
  // width: 100%;
  border: none !important;
}
.amountName {
  font-size: 12px;
}
.boxStyles {
  width: 15px;
  height: 15px;
  background-color: #74757a;
}

.disputeStyles {
  display: flex;
  justify-content: flex-end;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #e9ecef;
  color: black;
}
.inputField2 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.inputField3 {
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #e9ecef;
  width: 100%;
  color: black;
}
.inputField4 {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.descriptionField {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
}
.inputFieldControl2 {
  min-height: 100px !important;
}
.text {
  min-height: 38px;
}
.disabled {
  cursor: none !important;
}

// .textarea {
//   width: 187px;
// }
.secondPart {
  width: 100%;
  background-color: white;
  padding-top: 20px;
}

.buttonStyles3 {
  max-width: 120px;
  height: 35px;
  font-size: 14px !important;
  border: 1px solid #1c2475 !important;
  color: #1c2475 !important;
  background: transparent !important;
  padding-bottom: 15px;
  &:hover {
    background: transparent !important;
    color: #1c2475 !important;
  }
}
.disclaimerPolicy {
  font-size: 13px;
  margin-bottom: 35px;
  font-weight: 500;
  margin-top: 35px;
}
.fileText {
  color: #1c2475;
  font-weight: 600;
  cursor: pointer;
}
.removeTxt {
  font-weight: 600;
  color: red;
  cursor: pointer;
  text-align: end;
}
.claimAmountStyles {
  font-weight: 600;
  font-size: 18pt;
  max-width: fit-content;
  display: contents;
}
.ViewBtnStyles {
  color: #1c2475;
  font-weight: 600;
  border: none !important;
  background-color: transparent !important;
  :hover {
    color: #1c2475 !important;
    font-weight: 600;
    border: none !important;
    background-color: transparent !important;
  }
}
.notice {
  font-weight: 500;
  margin-bottom: 20px;
}
.optionPart {
  color: #40e8ff;
  font-weight: 600;
  margin-top: 13px;
}

.attachText {
  font-weight: 650;
  margin-top: 3rem;
}

.reqText {
  margin-top: 13px;
  font-weight: 650;
  color: red;
}
.eachFielDetailsView {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3px 5px;
}
.fileRemoveIcon {
  position: absolute;
  top: -3px;
  right: -8px;
  cursor: pointer;
}
.fileSelectorContainer {
  display: inline-flex;
  margin-top: 10px;
  // padding: 5px 10px;
  cursor: pointer;
  align-items: center;
  font-weight: 600;
  border-radius: 8px;
}
.eachFielDetailsView {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  position: relative;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 3px 5px;
}
.sizeStyles {
  font-weight: 400;
  font-size: 13px;
}

.btn1 {
  background: transparent !important;
  border: none !important;
  color: #1c2475 !important;
  width: 100% !important;
  display: flex !important;
  justify-content: flex-end !important;
  font-weight: 550 !important;
  &:hover {
    background: transparent !important;
    border: none !important;
    color: #1c2475 !important;
  }
}
.radioSwitch {
  margin-top: 3.4rem;
}
.claimAmt {
  margin-top: 1.5rem !important;
}

.saveStyles {
  background-color: #40e8ff !important;
  color: white !important;
  width: 100%;
  border: none !important;

  &:hover {
    background-color: #40e8ff !important;
    width: 100%;
    color: white !important;
    border: none !important;
  }
}

.completeStyles {
  background-color: #1c2475 !important;
  color: white !important;
  width: 100% !important;
  border: 1px solid #40e8ff !important;

  &:hover {
    background-color: #1c2475 !important;
    width: 100% !important;
    color: white !important;
    border: 1px solid #40e8ff !important;
  }
}

.gapStyles {
  gap: 5px !important;
  width: 100% !important;
  justify-content: flex-end !important;
}

.savePaymentStyles {
  background-color: #40e8ff !important;
  color: white !important;
  width: 100%;
  display: none !important;
  border: none !important;

  &:hover {
    background-color: #40e8ff !important;
    width: 100%;
    display: none !important;
    color: white !important;
    border: none !important;
  }
}
.sendStyles {
  background-color: none !important;
  color: white !important;
  border: 1px solid #40e8ff !important;
  &:hover {
    background-color: none !important;
    color: white !important;
    border: 1px solid #40e8ff !important;
  }
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.viewHeightStyles {
  height: 100px !important;
}

.dotsStyle {
  display: flex;
  justify-content: center;
}

.modelContentStyle {
  margin-bottom: 0 !important;
  font-weight: 400;
}

.gst {
  width: 50px !important;
}

.dataIcon {
  display: inline-block;
  margin-left: 5px;
}
.amountValues {
  text-align: right;
}
.gstColumn {
  display: flex;
  align-items: center;
}

.gstContainer {
  display: flex;
  align-items: center;
  gap: 8px; // Space between tooltip, text, and checkbox

  @media (max-width: 768px) {
    flex-direction: column; // Stack items vertically on smaller screens
    align-items: flex-start; // Align items to the start
  }
}

.gstCheckbox {
  cursor: pointer;
  width: 12px; // Set width of the checkbox
  height: 12px; // Set height of the checkbox
  transform: scale(1.5); // Scale the checkbox to make it larger
  margin-left: 2px; // Space between the checkbox and the label
}

.paymentTypeWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.tooltipIcon {
  /* Add any custom styling here */
  margin-left: 5px;
  color: white;
}

@media screen and (min-width: 430px) and (max-width: 932px) {
  .priceStyle {
    min-width: 10rem;
  }
  .gstStyle {
    min-width: 10rem;
  }
  .amtStyles {
    min-width: 5rem;
  }
  .desc {
    min-width: 10rem;
  }
  .quant {
    min-width: 10rem;
  }
  .inStyle {
    min-width: 3rem;
  }
  .dataIcon {
    display: inline-block;
    margin-left: 5px;
  }
  .valueTotal {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 393px) and (max-width: 852px) {
  .priceStyle {
    min-width: 10rem;
  }
  .gstStyle {
    min-width: 10rem;
  }
  .amtStyles {
    min-width: 5rem;
  }
  .desc {
    min-width: 10rem;
  }
  .quant {
    min-width: 10rem;
  }
  .inStyle {
    min-width: 3rem;
  }
  .dataIcon {
    display: inline-block;
    margin-left: 5px;
  }
  .valueTotal {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
}

@media screen and (min-width: 319px) and (max-width: 426px) {
  .claim {
    width: 100%;
  }
  .switch1 {
    margin-top: 0em !important;
  }
  .radioSwitch {
    margin-top: 1.4rem;
  }
  .claimAmt {
    margin-top: 1em !important;
  }
  .cancelStyle {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .saveStyles {
    margin-bottom: 20px;
  }
  .savePaymentStyles {
    margin-bottom: 20px;
  }
  .priceStyle {
    min-width: 10rem;
  }
  .gstStyle {
    min-width: 10rem;
  }
  .amtStyles {
    min-width: 5rem;
  }
  .desc {
    min-width: 10rem;
  }
  .quant {
    min-width: 10rem;
  }
  .valueTotal {
    text-align: center;
    width: 100%;
    margin-top: 30px;
  }
  .amountValues {
    text-align: center;
  }
}
