.mainCon {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  height: 100%;
  overflow-y: auto;
  font-size: 15px;
}
.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
  margin-bottom: 1rem;
}
.formStyle {
  width: 70%;
  flex: auto;
}
.textFieldStyles {
  margin-bottom: 0.5rem;
}
.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.phoneNumberStyles {
  width: 100%;
  position: relative;
  & > div > div > div > input {
    min-height: 40px !important;
  }
  & > div > div > svg {
    top: 12px;
  }
}
.googlFiledStyles {
  width: 100%;
  // position: relative;
  & > div > div > div {
    min-height: 40px !important;
  }
}

.labelStyle {
  margin-bottom: 0.25rem;
}

.errorContainer {
  display: flex;
  margin-top: 0.25rem;
  padding-top: 5px;
}
.errorTextStyles {
  color: red !important;
  font-size: 12px !important;
  margin-left: 4px;
}

.warningIconStyle {
  color: #ff0000;
}

.crossiconsSyles {
  color: red;
}
.eyeIconStyle {
  color: #212529;
}

.formStyles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding: 1rem;
}
.footerText {
  font-size: 12px;
  text-align: center;
  margin-bottom: 1rem;
}

.colorTextStyle {
  color: #2496e2;
  cursor: pointer;
  text-decoration: underline;
}

.btnContianer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}
.saveBtnStyle {
  max-width: 250px;
}
.cancelBtnStyle {
  width: 120px !important;
  background-color: transparent !important;
  color: #1c2475 !important;
  border: 1px solid #1c2475 !important;
  &:hover {
    background-color: #1c2475 !important;
    color: #ffffff !important;
  }
}
.separatorStyle {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}
.noDataStyle {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .formStyle {
    width: 100%;
  }
  .eachFieldBottom {
    margin-bottom: 0.5rem;
  }
}
