.mainConatianer {
  display: flex;
  flex-direction: column;
  // width: inherit;
  :hover {
    cursor: pointer;
  }
}

.labelStyle {
  margin-bottom: 4px;
}
.errorTextStyles {
  color: red !important;
  font-size: 12px !important;
  margin-left: 4px;
}

.warningIconStyle {
  color: #ff0000;
}
