.modal {
  padding: 1.5rem 1rem !important;

  .ModelHeader {
    border: transparent;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .ModelTitle {
    color: #1d2378;
  }

  .modalPopup {
    gap: 10px;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .cancelPopup {
    background-color: transparent !important;
    color: #1d2378 !important;
    border: none;
    border-radius: 5px;
    width: 283px;
  }

  .sendPopup {
    background-color: #1d2378;
    width: 283px;
    margin-bottom: 15px;
    &:hover {
      background-color: #1c2475 !important;
    }
  }

  .ModelParaStyles {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
    text-align: center;
  }

  .ModelFooter {
    display: flex;
    flex-direction: column;
    border: transparent;
    padding: 0rem;
  }

  .BackgroundButtonStyles {
    border: none !important;
    border-radius: 0.3125rem;
    background-color: #1c2475 !important;
    color: white !important;
    width: 17.6875rem;
    padding: 0.3125rem;

    &:hover {
      border: none !important;
      background-color: #1c2475 !important;
      color: white !important;
    }
  }
  .SecondaryButton,
  .SecondaryButton:hover,
  .SecondaryButton:focus {
    margin-top: 1rem !important;
    color: #1d2378 !important;
    font-weight: 500 !important;
    border: none !important;
    background-color: transparent !important;
  }

  .TertiaryButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1d2378;
    font-weight: 500;
    border: none;
    background-color: transparent !important;
  }

  .TertiaryButton:hover {
    background-color: transparent !important;
    color: #1d2378;
    border: none;
  }
}
.closeImage {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  cursor: pointer;
}
.eyeIconStyle {
  color: #212529;
}
.endIconStyle {
  display: flex;
  right: 0;
  z-index: 999;
  width: 25px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
  height: 40px !important;
  z-index: 1 !important;
  box-shadow: none !important;
}
.radioGroup {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  width: 100% !important;
  // border: 1px solid red;
}
.inputFieldControl2 {
  // padding-right: 30px !important;
  border-radius: 5px !important;
  height: 40px !important;
  // z-index: 1 !important;
  box-shadow: none !important;
  width: 170px !important;
}

.errorText {
  color: red;
  align-items: center; /* Align items vertically center */
  font-size: 12px;
  margin-top: 0.5rem;

  .icon {
    margin-right: 0.3rem; /* Add some spacing between the icon and text */
    font-size: 16px;
  }
}

@media screen and (min-width: 430px) and (max-width: 932px) {
  .modal {
    width: 100%;
    padding: 1.5rem 1rem !important;

    .ModelHeader {
      border: transparent;
      display: flex;
      justify-content: center;
      padding: 0;
    }

    .ModelTitle {
      color: #1d2378;
    }

    .modalPopup {
      gap: 10px;
      flex-direction: row;
      margin-bottom: 20px;
    }

    .cancelPopup {
      background-color: transparent !important;
      color: #1d2378 !important;
      border: none;
      border-radius: 5px;
      width: 283px;
    }

    .sendPopup {
      background-color: #1d2378;
      width: 283px;
      margin-bottom: 15px;
      &:hover {
        background-color: #1c2475 !important;
      }
    }

    .ModelParaStyles {
      display: flex;
      justify-content: center;
      margin-top: 0rem;
      text-align: center;
    }

    .ModelFooter {
      display: flex;
      flex-direction: column;
      border: transparent;
      padding: 0rem;
    }

    .BackgroundButtonStyles {
      border: none !important;
      border-radius: 0.3125rem;
      background-color: #1c2475 !important;
      color: white !important;
      width: 17.6875rem;
      padding: 0.3125rem;

      &:hover {
        border: none !important;
        background-color: #1c2475 !important;
        color: white !important;
      }
    }

    // .SecondaryButton {
    //   margin-top: 1rem;
    //   color: #1d2378 !important;
    //   font-weight: 500;
    //   border: none !important;
    //   background-color: transparent !important;
    //   &:hover {
    //     border: none !important;
    //     background-color: transparent !important;
    //     color: #1d2378 !important;
    //   }
    // }

    .SecondaryButton,
    .SecondaryButton:hover,
    .SecondaryButton:focus {
      margin-top: 1rem !important;
      color: #1d2378 !important;
      font-weight: 500 !important;
      border: none !important;
      background-color: transparent !important;
    }

    .TertiaryButton {
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: #1d2378;
      font-weight: 500;
      border: none;
      background-color: transparent !important;
    }
    .TertiaryButton:hover {
      background-color: transparent !important;
      color: #1d2378;
      border: none;
    }
  }
  .modal-backdrop.show {
    opacity: var(--bs-backdrop-opacity);
    width: -webkit-fill-available !important;
  }
}
