.card {
  max-width: 28.125rem !important;
  border-radius: 0.375rem !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0.4375rem 1.8125rem 0px !important;
  border: 0.0625rem solid rgba(211, 211, 211, 0.596) !important;
  padding: 1.875rem 0.9375rem !important;
  margin: 4rem auto !important;
}

.title {
  font-size: 1.25rem !important;
  color: #212529 !important;
  font-weight: 500 !important;
  text-align: center !important;
}

.horizontalLine {
  margin: 0.625rem 0 !important;
  border-top: 0.0625rem solid #bababa !important;
}

.key {
  font-weight: 500 !important;
  font-size: 1rem !important;
  width: 120px !important;
}
.value {
  font-size: 0.875rem !important;
  color: #858585 !important;
}
.dataRow {
  display: flex !important;
  padding: 0 2rem !important;
}

.button {
  border: none !important;
  border-radius: 0.3125rem !important;
  background-color: #1c2475 !important;
  color: white !important;
  width: 28% !important;
  padding: 0.25rem !important;
  &:hover {
    background-color: #1c2475 !important;
  }
}

.closeButton {
  border: 1px solid #1c2475 !important;
  background-color: white !important;
  color: #1c2475 !important;
  width: 25% !important;
  margin-right: 1rem !important;
  &:hover {
    background-color: white !important;
    color: #1c2475 !important;
  }
}
.formStyles {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  flex: 1 1 auto !important;
  padding: 0.5rem 1rem 1rem 1rem !important;
}
.textFieldStyles {
  width: 100% !important;
  margin-bottom: 0.5rem !important;
}
.dataRow2 {
  display: flex !important;
  overflow: hidden !important;
  flex-direction: column;
  width: 100%;
}
.endIconStyle {
  display: flex !important;
  right: 0 !important;
  z-index: 999 !important;

  margin-right: 5px !important;
  align-items: center !important;
  justify-content: center !important;
  cursor: pointer !important;
}
.datePicker {
  height: 2.375rem !important;
  box-shadow: none !important;
  border: 0.0625rem solid lightgray !important;
  border-radius: 0.3125rem !important;
}
.datePickerError {
  border: 0.0625rem solid #f08e8b !important;
  background-color: #fde5e3 !important;
}

.googlFiledStyles {
  width: 100% !important;
  & > div > div > div {
    min-height: 40px !important;
  }
}
.errorContainer {
  display: flex !important;
  margin-top: 0.25rem !important;
  padding-top: 5px !important;
}
.errorTextStyles {
  color: red !important;
  font-size: 12px !important;
  margin-left: 4px !important;
}

.error {
  color: red !important;
}
.phoneNumberStyles {
  width: 100% !important;
  position: relative !important;
  & > div > div > div > input {
    min-height: 40px !important;
  }
  & > div > div > svg {
    top: 12px !important;
  }
}

.selectContainerBtn {
  height: 100px !important;
  width: 100px !important;
}

.selectContainerBtn {
  margin-top: 10px !important;
  height: 100px !important;
  width: 100px !important;
}
.selectContainer {
  height: 100px !important;
  width: 100px !important;
  cursor: pointer !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border: 2px dashed #6fd0e0 !important;
  border-radius: 10px !important;
}
.imageViewStyle {
  margin-top: 10px !important;
  position: relative !important;
  border: 2px dashed #6fd0e0 !important;
  border-radius: 10px !important;
  height: 100px !important;
  width: 100px !important;
}
.fileRemoveIcon {
  position: absolute !important;
  top: -3px !important;
  right: -8px !important;
  cursor: pointer !important;
}
.imageContainer {
  border: 1px dashed #6fd0e0 !important;
  border-radius: 1.25rem !important;
  height: 6.25rem !important;
  width: 6.25rem !important;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.InfoTextStyle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
}
