.dataContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px 0px 0px 20px;
  height: 100%;
  & > header {
    padding: 0;
    z-index: 2;
    flex: unset;
    display: flex;
    min-height: auto;
    padding-bottom: 1rem;
  }
}
.headReport {
  text-align: center;
  padding: 20px;
}
.mainContainer {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}
.noRecordStyle {
  text-align: center;
}
.ledgerTable {
  border: 1px solid black !important;
}
.tableContainer {
  padding-top: 50px;
  border-top: 1px solid black; // Add border to the whole table container
  border-bottom: 1px solid black;
}
.topBottomBorder {
  border-top: 1px solid black; // Add border to the whole table container
  border-bottom: 1px solid black;
  font-weight: 700;
}
.textFieldStyles {
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

.inputFieldControl {
  padding-right: 30px !important;
  border-radius: 5px !important;
}

.headerAndButtonCon {
  justify-content: space-between;
  position: sticky;
  z-index: 2;
  background: #fff;
  padding-bottom: 1.5rem;
}
.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
}
.buttonStyles {
  max-width: 120px;
  height: 30px;
  font-size: 14px !important;
}
.customSubHeaderCon {
  justify-content: space-between;
  flex: 1;
  padding-right: 50px;
  gap: 15px;
  margin-bottom: 50px;
}
.customPopupstyles {
  --bs-popover-zindex: 0 !important;
}
.textAndSelectCon {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-left: 20px;
}

.headerIconCon {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
.textFieldStyles {
  box-shadow: none !important;
  border: 0px solid lightgray;
  border-radius: 5px;
  margin-bottom: 15px;
}
.datepickerCustom {
  display: flex;
  gap: 15px;
}
.textFieldStyles2 {
  box-shadow: none !important;
  border: 1px solid lightgray;
  border-radius: 5px;
  max-width: 100% !important;
}

.controlStyles {
  border: "1px solid red !important";
}
.dotsContainer {
  display: flex;
  width: 50px;
  justify-content: center;
  cursor: pointer;
}
.separatorStyle {
  margin: 0px 5px;
  font-weight: 600;
  font-size: 14px;
}

.headerBow {
  text-align: center; // Example styling
  margin: 20px 0; // Example styling
  font-size: 24px; // Example styling
  font-weight: bold; // Example styling
}
.highlight {
  color: red;
}

.row {
  display: flex;
  justify-content: space-between;
}

.headerCell {
  font-size: 16px;
  font-weight: 500;
  color: red; /* Dark color */
}
.tableHeader {
  border: 1px solid black !important;
}
.bodyTab {
  border: none;
  font-size: 13px;
  color: #000000de !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
.amountAlign {
  text-align: right;
}
.topBorder {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.headTab {
  color: #000000de !important;
  font-size: 15px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
.headingTabBold {
  color: #000000de !important;
  font-size: 13px;
  font-weight: 700;
  border: none !important;
  text-align: right;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
}
.alignRight {
  text-align: right;
}
.headTab1 {
  color: #000000de !important;
  font-size: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu",
    "Helvetica Neue", sans-serif;
  text-align: center;
}
.column {
  flex: 1;
  padding: 16px;
  border: 1px solid #ddd;
}

.hiddenHeader {
  display: none !important; /* Use !important to override any conflicting styles */
}
.headerText {
  color: #39393b;
  font-weight: 700 !important;
  font-size: 22.142px;
}

@media (max-width: 767px) {
  .textAndSelectCon {
    flex-direction: column;
  }
}
