.footer {
  background-color: #1d2378 !important;
}

.closeButton {
  background-color: #45e9fe;
  color: white;
  border-radius: 0.3125rem;
  font-size: 1rem;
  width: 6.25rem;
  padding: 0.25rem;
  font-weight: 600;
}

.closeButton:hover {
  background-color: #45e9fe !important;
}

.header {
  background-color: #eceef1 !important;
  border-bottom: none;
}

.closeImage {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  cursor: pointer;
}
.closeImageNone {
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
  cursor: default;
}
